* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f3f3fe;
  height: 100vh;
  width: 277px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #d1d1d1;
}

.table-creat {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
  margin: 0;
  padding: 10px;
}

.first-button {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #0d953b;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.sidebar p {
  color: #545f6f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.general-buttons {
  width: 270px;
  height: 50px;
  border-radius: 8px;
  background: #f3f3fe;
  border: none; 
  color: #000000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.general-buttons:hover {
  background: #a0aec2;
}

.alltable {
  border-bottom: 1px solid #d1d1d1;
  margin-top: -80px;

}

.alltable p {
  margin-bottom: 10px;
}

.bottom-buttons {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.group-buttons {
  margin-top: 21px;
}

.favorites-icon {
  color: yellow;
  margin-right: 15px;
}

.icons-margin {
  margin-right: 6px;
}

.share-part {
  margin-top: -90px;
  margin-bottom: -100px;
  border-bottom: 1px solid #d1d1d1;
}