* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.up-content {
  display: flex;
  padding: 5px 27px;
  justify-content: flex-end;
}

.main {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.search-box {
  display: flex;
  align-items: center;
  width: 170px;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  background: #f4f4f4;
  font-family: Poppins;
}

.update-button {
  display: flex;
  align-items: center;
  width: 76px;
  height: 44px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  background: #fff;
  margin:3px 8px 3px 0px;

}

.update-button p {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #0a1551;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}

.update-button button {
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  padding: 10px;
  cursor: pointer;
}

.update-button .material-symbols-outlined {
  margin-right: 10px;
}

.search-box {
  margin: 3px 0px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 44px;
  background: #e3e5f5;
}

.search-button {
  width: 20px;
  height: 20px;
  color: #6f76a7;
}

input[type="search"] {
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  padding: 0px 10px;
}

.bottom-line {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.mid-buttons {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin: 0;
}

.mid-buttons button {
  display: flex;
  align-items: center;
  margin-right: 36px;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #a89b9b;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  cursor: pointer;
}

.mid-buttons button:last-child {
  color: #ae0f0f;
}

.mid-buttons button:hover {
  background: #f2efef;
}

.mid-buttons button:last-child:hover {
  background: #f8b0b0;
}

.mid-buttons span {
  margin-left: 8px;
  margin-right: 10px;
}

.delete-button {
  color: #ae0f0f;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.table-list img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 12px;
}

.table-item {
  width: 550px;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background-color: #fff;
  border: 1px solid #e3e5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}

.table-item span.material-symbols-outlined {
  color: #c8ceed;
  cursor: pointer;
  margin-right: 12px;
}

.table-item input[type="checkbox"] {
  cursor: pointer;
  margin-right: 12px;
  width: 16px;
  height: 16px;
}

.table-link {
  display: flex;
  align-items: center;
}

.table-link a {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #0a1551;
}

.more-side {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
}

.more-side h1 {
  color: #0a1551;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.more-side button {
  width: 20px;
  height: 20px;
  color: #0a1551;
  cursor: pointer;
  background: #fff;
  border: none;
}

.dropdown-content {
  position: absolute;
  background-color: #0a1551;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  display: none;
  color: #fff;
}

.dropdown-content p {
  font-family: Circular Std;
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 19px;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #2d5183;
}

.table-item:hover .dropdown-content {
  display: block;
}
