* {
  margin: 0;
  padding: 0;
}

.table-header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 79px;
  background-color: #ffffff;
}

.table-logo-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.table-logo-side {
  padding: 0;
  margin: 0 12px 0 22px;
}

.table-logo-divider {
  width: 2px;
  height: 30px;
  background: #000000;
  margin-top: 5px;
  padding: 0;
}

.table-logo-side-text {
  margin-left: 12px;
  padding: 0;
  display: flex;
  align-items: center;
}

.table-logo-side-text span {
  color: #000000;
  cursor: pointer;
  margin-left: 5px;
}

.table-logo-side-text p {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table-mid-content {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.table-mid-content span,
img {
  cursor: pointer;
}

.table-mid-content p {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.855px;
  margin-right: 4px;
}

.table-mid-content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-right: 10px;
}

.table-header-right-content {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding-right: 10px;
}

.table-header-right-content img {
  width: 60px;
  border-radius: 33px;
  border: 2px solid #d2743a;
}

.table-header-right-content button {
  border-radius: 40px;
  border: 1px solid #a89b9b;
  background: #fff;
  width: 88px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  margin: 5px;
  cursor: pointer;
}

.table-header-right-content button:hover {
  background: #d0d0d0;
}

.table-header-right-content button span {
  margin-right: 7px;
}
