* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 79px;
  background-color: #772d2d;
}

.logo-container p {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-container span {
  color: #000;
}